<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                              http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
  <filter-name>CorsFilter</filter-name>
  <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
</filter>
<filter-mapping>
  <filter-name>CorsFilter</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>
<context-param>
        <param-name>root</param-name>
        <param-value>http://localhost:8080/</param-value>
    </context-param>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>andrew.servlets.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>andrew.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>andrew.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitServlet</servlet-name>
        <servlet-class>andrew.servlets.SubmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberServlet</servlet-name>
        <servlet-class>andrew.servlets.MemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteServlet</servlet-name>
        <servlet-class>andrew.servlets.VoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>andrew.servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinkServlet</servlet-name>
        <servlet-class>andrew.servlets.LinkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateServlet</servlet-name>
        <servlet-class>andrew.servlets.ActivateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReactivateServlet</servlet-name>
        <servlet-class>andrew.servlets.ReactivateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetServlet</servlet-name>
        <servlet-class>andrew.servlets.ResetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotServlet</servlet-name>
        <servlet-class>andrew.servlets.ForgotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>andrew.servlets.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>andrew.servlets.ChangePasswordServlet</servlet-class>
    </servlet>
<servlet>
    <servlet-name>AjaxVoteServlet</servlet-name>
    <servlet-class>andrew.ajax.AjaxVoteServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>UserNameCheckServlet</servlet-name>
    <servlet-class>andrew.ajax.UserNameCheckServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>EmailCheckServlet</servlet-name>
    <servlet-class>andrew.ajax.EmailCheckServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>andrew.ajax.ReportServlet</servlet-class>
</servlet>
<servlet>
    <servlet-name>ResultsServlet</servlet-name>
    <servlet-class>andrew.ajax.ResultsServlet</servlet-class>
</servlet>
<servlet>
        <servlet-name>BasicServlet</servlet-name>
        <servlet-class>andrew.servlets.BasicServlet</servlet-class>
    </servlet>
    <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>andrew.servlets.InitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
</servlet>

    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberServlet</servlet-name>
        <url-pattern>/Member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitServlet</servlet-name>
        <url-pattern>/SubmitLink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteServlet</servlet-name>
        <url-pattern>/Vote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/User/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinkServlet</servlet-name>
        <url-pattern>/Link/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateServlet</servlet-name>
        <url-pattern>/Activate/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/New</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/Top</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/TopUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReactivateServlet</servlet-name>
        <url-pattern>/Reactivate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotServlet</servlet-name>
        <url-pattern>/Forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetServlet</servlet-name>
        <url-pattern>/Reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BasicServlet</servlet-name>
        <url-pattern>/FAQ</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>BasicServlet</servlet-name>
        <url-pattern>/About</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>BasicServlet</servlet-name>
        <url-pattern>/Rules</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>BasicServlet</servlet-name>
        <url-pattern>/Suggest</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>BasicServlet</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/includes/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/fonts/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/profilepics/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/temp/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/helpers/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/favicon.ico</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/robots.txt</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/sitemap.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxVoteServlet</servlet-name>
        <url-pattern>/ajaxvote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserNameCheckServlet</servlet-name>
        <url-pattern>/ajaxun</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailCheckServlet</servlet-name>
        <url-pattern>/ajaxem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ajaxreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultsServlet</servlet-name>
        <url-pattern>/ajaxresults</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>240</session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
</web-app>
